@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0px;
  height: -webkit-fill-available;
}

#target {
  height: -webkit-fill-available;
}

.color-grey
{
  background-color: #a37cf0;
  display:inline-block;width:fit-content;
}

.color-blue 
{
  background-color: #b1d5e5;
  display:inline-block;
  width:min-content;
}
.color-pink
{
  background-color: pink;
  display:inline-block;width:fit-content;
}
.color-green
{
  background-color: #00FF00;
  display:inline-block;width:fit-content;
}
.color-yellow
{
  background-color: #FFD700;
}


.font-color-grey
{
  color: #a37cf0;
  display:inline-block;width:fit-content;
}

.font-color-blue 
{
  color: #b1d5e5;
  display:inline-block;
  width:min-content;
}
.font-color-pink
{
  color: pink;
  display:inline-block;width:fit-content;
}
.font-color-green
{
  color: #00FF00;
  display:inline-block;width:fit-content;
}
.font-color-yellow
{
  color: #FFD700;
}
